.header{
    margin: 32px 40px auto 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__logo{
    height: 40px;
    width: 89px;
    margin-right: 24px;
}

.header__add-clothes-btn{
    background-color: transparent;
    border:none;
    margin-left:20px;
    margin-right: 20px;
}

.header__add-clothes-btn:hover{
    cursor: pointer;
}

.header__user-container{
    display:flex;
    align-items: center;
    gap:12px;
}

.header__navlink{
    color:black;
    text-decoration: none;
}

.header__navline{
    cursor: pointer;
}

.header__avatar{
    height: 40px;
    width: 40px;
    border: 1px;
    border-radius: 50%;
}