.modal {
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background-color: #0000004d;
   display: flex;
   justify-content: center;
   align-items: center;
   visibility: hidden;
}

.modal_opened{
   visibility: visible;
}

.modal__close {
   background-image: url("../../assets/modalClose.svg");
   position: absolute;
   top: 20px;
   right: 28px;
   border: none;
   width: 20px;
   height: 20px;
   background-size: cover;
   background-color: transparent;
}

.modal__close:hover {
   cursor: pointer;
}

.modal__content_type_preview{
    height: 610px;
    width: 498px;
    padding:0;
    overflow:hidden;
    background-color: white;
   position: relative;
   border-radius: 20px;
}

.modal__footer{
    margin: 20px 32px;
    font-family: Cabinet Grotesk;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.modal__img{
   max-width: 498px;
   max-height: 498px;
}
.modal__caption{
   margin:0;
}

.modal__delete{
   color:#FF4D00;
   margin:0;
   background-color: transparent;
   border: none;
   padding:0;
}

.modal__delete:hover{
   cursor: pointer;
}